.container {
  @apply w-full h-full flex justify-between items-center px-10 py-6;

  .logoWrapper {
    @apply flex justify-center items-center gap-10;

    .logo {
      @apply flex justify-center items-center scroll-m-20 pb-2 text-3xl font-semibold tracking-tight first:mt-0 bg-clip-text text-transparent bg-gradient-to-r from-fuchsia-500 to-indigo-500;
    }

    .time {
      @apply bg-white text-xl font-semibold rounded-sm py-1 px-2 flex items-center justify-center text-zinc-800 shadow-2xl;
    }
  }

  .menuWrapper {
    @apply flex items-center gap-4;

    .creditWrapper {
      @apply flex items-center gap-4 mr-10;

      .credit {
        @apply text-sm font-semibold cursor-default h-8;
      }

      .button {
        @apply text-center w-fit h-8 shadow-2xl;

        background: linear-gradient(135deg, #341c75, #183467, #271965, #433d3d);
        background-size: 300% auto;
        color: #fff;
        padding: 12px 18px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
      }

      .button:hover {
        background-position: 100% 0;
        transform: translateY(-1px); /* Adjusted for smoother hover animation */
        border-image: linear-gradient(
          to right,
          #000000 #110740,
          #0b214b,
          #1e0b51
        ); /* Reversed gradient for border animation */
        border-image-slice: 1;
      }
    }

    .theme {
      @apply h-6 w-6 cursor-pointer;
    }

    .settings {
      @apply h-5 w-5 cursor-pointer;
    }
  }
}
