.container {
  @apply px-4 py-8 h-full w-[650px] flex flex-col;

  .loadingWrapper {
    @apply w-full h-full flex flex-col items-center space-y-6;

    .loading {
      @apply w-full h-1/6;
    }
  }

  .title {
    @apply text-center font-semibold text-lg pt-0;
  }

  .content {
    @apply flex flex-col items-start overflow-y-auto gap-8 min-w-[500px] p-2;
  }

  .emptyInfoWrapper {
    @apply h-full w-full flex justify-center items-center;
  }

  /* Hiding scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hiding scrollbar for IE, Edge and Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
