.container {
  @apply p-10 h-full w-full flex flex-col justify-between;

  .loadingWrapper {
    @apply w-full h-full flex flex-col items-center space-y-6;
  }

  .emptyInfoWrapper {
    @apply h-full w-full flex justify-center items-center;
  }

  /* Hiding scrollbar for Chrome, Safari and Opera */
  ::-webkit-scrollbar {
    display: none;
  }

  /* Hiding scrollbar for IE, Edge and Firefox */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
